.wrapper {
    color: white;
}

@media (min-width: 1498px) {
    .wrapper {
        height: 922px;
    }
    .shop_elements {
        margin-left: 30px;
    }
}

@media (min-width: 1125px) and (max-width: 1510px) {
    .wrapper {
        height: 100%;
    }
    .shop_elements {
        margin-left: 30px;
    }
}

@media screen and (max-width: 400px) {
    .shop_elements {
        margin-left: 10px;
    }
}

.wrapper h2 {
    margin: 0;
    font-weight: 600;
}

.wrapper h5 {
    font-weight: 400;
    color: #adadad;
    margin: 0 0 30px 0;
}

.shop_elements {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}