.skin {
    width: 350px;
    background-color: rgb(20, 21, 24);
    text-align: center;
    border-radius: 10px;
    color: white;
    margin: 0 50px 20px 0;
}

@media (min-width: 1700px) {
    .skin:nth-child(4n + 4) {
        margin-right: 0;
    }
}

@media (min-width: 1517px) and (max-width: 1699px) {
    .skin:nth-child(3n + 3) {
        margin-right: 0;
    }
}

@media (min-width: 1125px) and (max-width: 1510px) {
    .skin:nth-child(2n + 2) {
        margin-right: 0;
    }
}

.name {
    margin-top: 5px;
    font-size: 22px;
    font-weight: 600;
}

.img_wrapper {
    height: 130px;
}

.skin img {
    width: 330px;
}

.price {
    font-weight: 600;
}

.down {
    display: flex;
    margin-left: 150px;
    height: 60px;
}

.buy {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    transition: 0.2s;
    margin: 20px 0 0 70px;
    height: 30px;
}

.buy:hover{
    color: #ffffff;
    background: rgb(20, 21, 24);
    box-shadow: 0 0 10px #000000, 0 0 40px #000000, 0 0 80px #000000;
}

@media (min-width: 0) and (max-width: 529px) {
    .skin {
        width: 200px;
        margin-right: 0;
    }
    .name {
        font-size: 16px;
    }
    .img_wrapper {
        height: 75px;
    }
    .skin img {
        width: 190px;
    }
    .down {
        margin-left: 80px;
    }
    .price {
        font-size: 16px;
    }
    .buy {
        margin: 30px 0 0 25px;
        font-size: 14px;
        height: 22px;
        padding: 0 5px;
    }
}