.wrapper {
    width: 240px;
    padding-right: 20px;
}

.list {
    list-style: none;
    padding: 0;
}

.item {

}

.item a {
    text-decoration: none;
    font-size: 20px;
    padding: 0 0.75rem;
    border-radius: 6px;
    height: 3rem;
    color: white;
    display: flex;
    align-items: center;
}

.active {
    background: rgb(42, 43, 47);
}

.string {
    padding-left: 10px;
}
