.app-wrapper {
    background-color: rgb(20, 21, 24);
    display: flex;
    height: 100%;
    width: 100%;
}

.left-side {
    padding-left: 30px;
}

.app-wrapper-content {
    padding: 35px 0 0 30px;
    font-size: 20px;
    margin-top: 12px;
    border-radius: 35px 0 0 0;
    background-color: #3b3b3b;
    width: 100%;
}