.wrapper {
    width: 800px;
    background-color: rgb(20, 21, 24);
    border-radius: 15px;
    padding: 10px 0 10px 20px;
    margin-bottom: 20px;
}

.upper {
    margin-bottom: 20px;
}

.name {
    font-size: 22px;
}

.stars {
    float: right;
    margin-right: 10px;
}

.text {
    font-size: 18px;
    padding-bottom: 10px;
}

@media screen and (max-width: 1230px) {
    .wrapper {
        width: 400px;
    }
}

@media screen and (max-width: 400px) {
    .wrapper {
        width: 200px;
    }
    .name {
        font-size: 16px;
    }
    .text {
        font-size: 14px;
    }
}